/**
 * @file
 * UI Global Bar Structure
 */
/* =============================================================================
 *   Imports
 * ========================================================================== */
/**
 * @file
 * Base File
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sprites\/\*\.png}line{font-family:\0000358}}
.sprites-sprite, #ui-footer-logo a {
  background: url('images/sprites-s1b3ac075f0.png') no-repeat;
}

/**
 * @file
 * Custom Partial
 */
/* =============================================================================
 *   Variables
 * ========================================================================== */
/* ========================================================================== */
/* =============================================================================
 *   Mixins
 * ========================================================================== */
/* ========================================================================== */
@font-face {
  font-family: 'fontello';
  src: url("../iconfonts/font/fontello.eot");
  src: url("../iconfonts/font/fontello.eot?#iefix") format("embedded-opentype"), url("../iconfonts/font/fontello.woff") format("woff"), url("../iconfonts/font/fontello.ttf") format("truetype"), url("../iconfonts/font/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * @file
 * Resets
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/_reset\.scss}line{font-family:\000038}}
#ui-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/_reset\.scss}line{font-family:\0000312}}
#ui-wrapper input {
  font-family: arial !important;
  font-size: 14px !important;
}

/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/_animate\.scss}line{font-family:\0000314}}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -ms-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/_animate\.scss}line{font-family:\0000327}}
.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
  /* line 36, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 41, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 48, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 53, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 60, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 65, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 72, ../sass/_animate.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 77, ../sass/_animate.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/_animate\.scss}line{font-family:\0000383}}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* ========================================================================== */
/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================= */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\0000318}}
#ui-wrapper {
  height: 40px;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\0000322}}
#ui-wrapper .container {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
  position: relative;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\0000333}}
#ui-search-toggle {
  display: none;
}

/* ========================================================================== */
/* =============================================================================
 *   UI Logo
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\0000342}}
#ui-logo a {
  position: absolute;
  margin-top: 8px;
  padding-bottom: 10px;
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  width: 200px;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Bar
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\0000356}}
#ui-search.search-hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\0000357}}
#ui-search.search-exposed {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\0000359}}
#ui-search {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
  margin: 5px 8px 0 0;
  width: 100%;
  max-width: 300px;
  float: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\0000369}}
#ui-search .form-item-search-terms {
  display: inline-block;
  margin: 0;
  width: 100%;
  padding-right: 70px;
  padding-left: 30px;
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\0000377}}
#ui-search .form-item-search-terms label {
  font-size: 0;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\0000381}}
#ui-search .form-item-search-terms label:before {
  content: '🔍';
  /* '\1f50d' */
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-size: 22px;
  line-height: 23px;
  position: absolute;
  top: 2px;
  left: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003100}}
#ui-search #edit-search-terms {
  background-color: transparent;
  border: none;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 2px 2px 1px 2px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003109}}
#ui-search #edit-submit-search {
  position: absolute;
  top: 3px;
  right: 2px;
  background-image: none;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 1px 8px;
  line-height: normal;
  height: 22px;
  width: 65px;
}

/* ========================================================================== */
/* =============================================================================
 *   UI Global Footer
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003128}}
#ui-global-footer {
  background-color: #111111;
  color: #999;
  padding: 20px 8px;
  font-size: 14px;
  border-top: 1px solid #000;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003136}}
#ui-global-footer a {
  color: #999;
  border-bottom: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003142}}
#ui-footer-logo a {
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  background-position: 0 0;
  height: 26px;
  width: 200px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003149}}
#ui-global-links .item-list ul {
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003153}}
#ui-global-links .item-list li {
  list-style-type: none;
  margin: 0;
  display: block;
}

/* ========================================================================== */
/* =============================================================================
 *   Small Media Query
 * ========================================================================== */
@media only screen and (max-width: 500px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003166}}
  #ui-wrapper {
    height: auto;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003171}}
  #ui-logo a {
    position: relative;
    display: inline-block;
    width: 100%;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003178}}
  #ui-search-toggle {
    display: block;
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003187}}
  #ui-search-toggle:before {
    content: '🔍';
    /* '\1f50d' */
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    line-height: 23px;
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
    top: 3px;
    left: 5px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003206}}
  #ui-search {
    max-width: 100%;
    margin: 10px 8px;
    float: none;
    width: auto;
  }
}
/* ========================================================================== */
/* =============================================================================
 *   Large Media Query
 * ========================================================================== */
@media only screen and (min-width: 501px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003221}}
  #ui-logo {
    margin-top: -2px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003225}}
  #ui-search.search-hidden {
    display: block;
  }

  /* FOOTER ----------------------------------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003230}}
  #ui-global-links .item-list {
    overflow: hidden;
    *overflow: visible;
    *zoom: 1;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003233}}
  #ui-global-links .item-list li {
    display: block;
    float: left;
    margin-right: 10px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003239}}
  #ui-global-links .item-list li:after {
    content: "/";
    padding-left: 10px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/custom\/sites\/all\/modules\/custom\/uiowa_bar\/sass\/ui-global-bar\.scss}line{font-family:\00003244}}
  #ui-global-links .item-list li.last:after {
    content: none;
  }
}
/* ========================================================================== */
