/**
 * @file
 * UI Global Bar Structure
 */
/* =============================================================================
 *   Imports
 * ========================================================================== */
/**
 * @file
 * Base File
 */
/* line 58, sprites/*.png */
.sprites-sprite, #ui-footer-logo a {
  background: url('images/sprites-s1b3ac075f0.png') no-repeat;
}

/**
 * @file
 * Custom Partial
 */
/* =============================================================================
 *   Variables
 * ========================================================================== */
/* ========================================================================== */
/* =============================================================================
 *   Mixins
 * ========================================================================== */
/* ========================================================================== */
@font-face {
  font-family: 'fontello';
  src: url("../iconfonts/font/fontello.eot");
  src: url("../iconfonts/font/fontello.eot?#iefix") format("embedded-opentype"), url("../iconfonts/font/fontello.woff") format("woff"), url("../iconfonts/font/fontello.ttf") format("truetype"), url("../iconfonts/font/fontello.svg#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 * @file
 * Resets
 */
/* line 8, ../sass/_reset.scss */
#ui-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 12, ../sass/_reset.scss */
#ui-wrapper input {
  font-family: arial !important;
  font-size: 14px !important;
}

/*
Animate.css - http://daneden.me/animate
LICENSED UNDER THE  MIT LICENSE (MIT)

Copyright (c) 2012 Dan Eden

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
/* line 14, ../sass/_animate.scss */
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -ms-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
}

/* line 27, ../sass/_animate.scss */
.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
  /* line 36, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  /* line 41, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 48, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  /* line 53, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 60, ../sass/_animate.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-20px);
  }

  /* line 65, ../sass/_animate.scss */
  100% {
    opacity: 1;
    -ms-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 72, ../sass/_animate.scss */
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  /* line 77, ../sass/_animate.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* line 83, ../sass/_animate.scss */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* ========================================================================== */
/* line 15, ../sass/ui-global-bar.scss */
.panels-ipe .region-page-bottom {
  padding-bottom: 60px;
}

/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================= */
/* line 22, ../sass/ui-global-bar.scss */
#ui-wrapper {
  height: 40px;
  font-size: 14px;
}
/* line 26, ../sass/ui-global-bar.scss */
#ui-wrapper .container {
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
  position: relative;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
/* line 37, ../sass/ui-global-bar.scss */
#ui-search-toggle {
  display: none;
}

/* ========================================================================== */
/* =============================================================================
 *   UI Logo
 * ========================================================================== */
/* line 46, ../sass/ui-global-bar.scss */
#ui-logo a {
  position: absolute;
  top: 5px;
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  width: 200px;
  height: 40px;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Bar
 * ========================================================================== */
/* line 60, ../sass/ui-global-bar.scss */
#ui-search.search-hidden {
  display: none;
}

/* line 61, ../sass/ui-global-bar.scss */
#ui-search.search-exposed {
  display: block;
}

/* line 63, ../sass/ui-global-bar.scss */
#ui-search {
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 0;
  margin: 5px 8px 0 0;
  width: 100%;
  max-width: 300px;
  float: right;
}
/* line 73, ../sass/ui-global-bar.scss */
#ui-search .form-item-search-terms {
  display: inline-block;
  margin: 0;
  width: 100%;
  padding-right: 70px;
  padding-left: 30px;
  line-height: 0;
}
/* line 81, ../sass/ui-global-bar.scss */
#ui-search .form-item-search-terms label {
  font-size: 0;
  display: inline-block;
}
/* line 85, ../sass/ui-global-bar.scss */
#ui-search .form-item-search-terms label:before {
  content: '🔍';
  /* '\1f50d' */
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-size: 22px;
  line-height: 23px;
  position: absolute;
  top: 2px;
  left: 5px;
}
/* line 104, ../sass/ui-global-bar.scss */
#ui-search #edit-search-terms {
  background-color: transparent;
  border: none;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 2px 2px 1px 2px;
  line-height: normal;
}
/* line 114, ../sass/ui-global-bar.scss */
#ui-search #edit-submit-search {
  position: absolute;
  top: 3px;
  right: 2px;
  background-image: none;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 1px 8px;
  line-height: normal;
  height: 22px;
  width: 65px;
}

/* ========================================================================== */
/* =============================================================================
 *   UI Global Footer
 * ========================================================================== */
/* line 133, ../sass/ui-global-bar.scss */
#ui-global-footer {
  background-color: #111111;
  color: #999;
  padding: 20px 8px;
  font-size: 14px;
  border-top: 1px solid #000;
  -webkit-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  -moz-box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
}
/* line 141, ../sass/ui-global-bar.scss */
#ui-global-footer a {
  color: #999;
  border-bottom: none;
}

/* line 147, ../sass/ui-global-bar.scss */
#ui-footer-logo a {
  display: block !important;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
  background-position: 0 0;
  height: 26px;
  width: 200px;
}

/* line 154, ../sass/ui-global-bar.scss */
#ui-global-links .item-list ul {
  margin-top: 10px;
}
/* line 158, ../sass/ui-global-bar.scss */
#ui-global-links .item-list li {
  list-style-type: none;
  margin: 0;
  display: block;
}

/* ========================================================================== */
/* =============================================================================
 *   Small Media Query
 * ========================================================================== */
@media only screen and (max-width: 500px) {
  /* line 171, ../sass/ui-global-bar.scss */
  #ui-wrapper {
    height: auto;
  }

  /* line 176, ../sass/ui-global-bar.scss */
  #ui-logo a {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  /* line 183, ../sass/ui-global-bar.scss */
  #ui-search-toggle {
    display: block;
    font-size: 0;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    width: 40px;
  }
  /* line 192, ../sass/ui-global-bar.scss */
  #ui-search-toggle:before {
    content: '🔍';
    /* '\1f50d' */
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    line-height: 23px;
    position: absolute;
    padding-top: 5px;
    padding-left: 5px;
    top: 3px;
    left: 5px;
  }

  /* line 211, ../sass/ui-global-bar.scss */
  #ui-search {
    max-width: 100%;
    margin: 10px 8px;
    float: none;
    width: auto;
  }
}
/* ========================================================================== */
/* =============================================================================
 *   Large Media Query
 * ========================================================================== */
@media only screen and (min-width: 501px) {
  /* line 226, ../sass/ui-global-bar.scss */
  #ui-logo {
    margin-top: -2px;
  }

  /* line 230, ../sass/ui-global-bar.scss */
  #ui-search.search-hidden {
    display: block;
  }

  /* FOOTER ----------------------------------------------------------------*/
  /* line 235, ../sass/ui-global-bar.scss */
  #ui-global-links .item-list {
    overflow: hidden;
    *overflow: visible;
    *zoom: 1;
  }
  /* line 238, ../sass/ui-global-bar.scss */
  #ui-global-links .item-list li {
    display: block;
    float: left;
    margin-right: 10px;
  }
  /* line 244, ../sass/ui-global-bar.scss */
  #ui-global-links .item-list li:after {
    content: "/";
    padding-left: 10px;
  }
  /* line 249, ../sass/ui-global-bar.scss */
  #ui-global-links .item-list li.last:after {
    content: none;
  }
}
/* ========================================================================== */
