/**
 * @file
 * UI Global Bar Stles
 */
/**
 * @file
 * Base File
 */
/**
 * @file
 * Custom Partial
 */
/* =============================================================================
 *   Variables
 * ========================================================================== */
/* ========================================================================== */
/* =============================================================================
 *   Mixins
 * ========================================================================== */
/* ========================================================================== */
/**
 * @file
 * Partial for search box abstractions
 */
/* =============================================================================
 *   Dark Version
 * ========================================================================== */
/* line 9, ../sass/_search_abstractions.scss */
.uiowa-bar-dark #ui-search {
  background-color: #545454;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid #222;
  color: #333;
}
/* line 15, ../sass/_search_abstractions.scss */
.uiowa-bar-dark #ui-search .ui-glyph-icon-ui-search {
  color: #333;
}
/* line 20, ../sass/_search_abstractions.scss */
.uiowa-bar-dark #ui-search #edit-search-terms {
  color: #fff;
}
/* line 54, ../sass/_custom.scss */
.uiowa-bar-dark #ui-search #edit-search-terms.placeholder {
  color: #c8c8c8;
}
/* line 55, ../sass/_custom.scss */
.uiowa-bar-dark #ui-search #edit-search-terms:-moz-placeholder {
  color: #c8c8c8;
}
/* line 56, ../sass/_custom.scss */
.uiowa-bar-dark #ui-search #edit-search-terms::-moz-placeholder {
  color: #c8c8c8;
}
/* line 57, ../sass/_custom.scss */
.uiowa-bar-dark #ui-search #edit-search-terms::-webkit-input-placeholder {
  color: #c8c8c8;
}
/* line 29, ../sass/_search_abstractions.scss */
.uiowa-bar-dark #ui-search #edit-submit-search {
  background-color: #212121;
  border: 1px solid #1c1c1c;
  color: #999;
}
/* line 34, ../sass/_search_abstractions.scss */
.uiowa-bar-dark #ui-search #edit-submit-search:hover, .uiowa-bar-dark #ui-search #edit-submit-search:focus, .uiowa-bar-dark #ui-search #edit-submit-search:active {
  background-color: #fee000;
  color: #212121;
  border-color: #cbb300;
}

/* =============================================================================
 *   Light Version
 * ========================================================================== */
/* ========================================================================== */
/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================== */
/* line 14, ../sass/uiowa-bar-dark.scss */
.uiowa-bar-dark #ui-wrapper {
  background-color: #272927;
}

/* ========================================================================== */
/* =============================================================================
 *   UI Logo
 * ========================================================================== */
/* line 22, ../sass/uiowa-bar-dark.scss */
.uiowa-bar-dark #ui-logo a {
  color: #fee000;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
/* line 31, ../sass/uiowa-bar-dark.scss */
.uiowa-bar-dark #ui-search-toggle {
  color: #cccccc;
}
/* line 34, ../sass/uiowa-bar-dark.scss */
.uiowa-bar-dark #ui-search-toggle.is-active {
  background-color: #0e0f0e;
  -webkit-box-shadow: 0px 0px 6px #020202 inset;
  -moz-box-shadow: 0px 0px 6px #020202 inset;
  box-shadow: 0px 0px 6px #020202 inset;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Bar
 * ========================================================================== */
