/**
 * @file
 * UI Global Bar Stles
 */
/**
 * @file
 * Base File
 */
/**
 * @file
 * Custom Partial
 */
/* =============================================================================
 *   Variables
 * ========================================================================== */
/* ========================================================================== */
/* =============================================================================
 *   Mixins
 * ========================================================================== */
/* ========================================================================== */
/**
 * @file
 * Partial for search box abstractions
 */
/* =============================================================================
 *   Dark Version
 * ========================================================================== */
/* line 9, ../sass/_search_abstractions.scss */
.uiowa-bar-gold #ui-search {
  background-color: #545454;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid #222;
  color: #333;
}
/* line 15, ../sass/_search_abstractions.scss */
.uiowa-bar-gold #ui-search .ui-glyph-icon-ui-search {
  color: #333;
}
/* line 20, ../sass/_search_abstractions.scss */
.uiowa-bar-gold #ui-search #edit-search-terms {
  color: #fff;
}
/* line 54, ../sass/_custom.scss */
.uiowa-bar-gold #ui-search #edit-search-terms.placeholder {
  color: #c8c8c8;
}
/* line 55, ../sass/_custom.scss */
.uiowa-bar-gold #ui-search #edit-search-terms:-moz-placeholder {
  color: #c8c8c8;
}
/* line 56, ../sass/_custom.scss */
.uiowa-bar-gold #ui-search #edit-search-terms::-moz-placeholder {
  color: #c8c8c8;
}
/* line 57, ../sass/_custom.scss */
.uiowa-bar-gold #ui-search #edit-search-terms::-webkit-input-placeholder {
  color: #c8c8c8;
}
/* line 29, ../sass/_search_abstractions.scss */
.uiowa-bar-gold #ui-search #edit-submit-search {
  background-color: #212121;
  border: 1px solid #1c1c1c;
  color: #999;
}
/* line 34, ../sass/_search_abstractions.scss */
.uiowa-bar-gold #ui-search #edit-submit-search:hover, .uiowa-bar-gold #ui-search #edit-submit-search:focus, .uiowa-bar-gold #ui-search #edit-submit-search:active {
  background-color: #fee000;
  color: #212121;
  border-color: #cbb300;
}

/* =============================================================================
 *   Light Version
 * ========================================================================== */
/* ========================================================================== */
/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================== */
/* line 15, ../sass/uiowa-bar-gold.scss */
.uiowa-bar-gold #ui-wrapper {
  background-color: #edb80f;
}

/* ========================================================================== */
/* =============================================================================
 *   UI Logo
 * ========================================================================== */
/* line 23, ../sass/uiowa-bar-gold.scss */
.uiowa-bar-gold #ui-logo a {
  color: black;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
/* line 32, ../sass/uiowa-bar-gold.scss */
.uiowa-bar-gold #ui-search-toggle {
  color: #333333;
}
/* line 35, ../sass/uiowa-bar-gold.scss */
.uiowa-bar-gold #ui-search-toggle.is-active {
  background-color: #bd930c;
  -moz-box-shadow: 0px 0px 6px #a5800a inset;
  -webkit-box-shadow: 0px 0px 6px #a5800a inset;
  box-shadow: 0px 0px 6px #a5800a inset;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Bar
 * ========================================================================== */
