/**
 * @file
 * UI Global Bar Stles
 */
/**
 * @file
 * Base File
 */
/**
 * @file
 * Custom Partial
 */
/* =============================================================================
 *   Variables
 * ========================================================================== */
/* ========================================================================== */
/* =============================================================================
 *   Mixins
 * ========================================================================== */
/* ========================================================================== */
/**
 * @file
 * Partial for search box abstractions
 */
/* =============================================================================
 *   Dark Version
 * ========================================================================== */
/* =============================================================================
 *   Light Version
 * ========================================================================== */
/* line 45, ../sass/_search_abstractions.scss */
.uiowa-bar-light #ui-search {
  background-color: #eeeeee;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
  border: 1px solid #bbb;
}
/* line 50, ../sass/_search_abstractions.scss */
.uiowa-bar-light #ui-search .ui-glyph-icon-ui-search {
  color: #999;
}
/* line 55, ../sass/_search_abstractions.scss */
.uiowa-bar-light #ui-search #edit-search-terms {
  color: #444;
}
/* line 54, ../sass/_custom.scss */
.uiowa-bar-light #ui-search #edit-search-terms.placeholder {
  color: #666;
}
/* line 55, ../sass/_custom.scss */
.uiowa-bar-light #ui-search #edit-search-terms:-moz-placeholder {
  color: #666;
}
/* line 56, ../sass/_custom.scss */
.uiowa-bar-light #ui-search #edit-search-terms::-moz-placeholder {
  color: #666;
}
/* line 57, ../sass/_custom.scss */
.uiowa-bar-light #ui-search #edit-search-terms::-webkit-input-placeholder {
  color: #666;
}
/* line 64, ../sass/_search_abstractions.scss */
.uiowa-bar-light #ui-search #edit-submit-search {
  background-color: #eeeeee;
  border: 1px solid #d1d1d1;
  color: #666;
}
/* line 69, ../sass/_search_abstractions.scss */
.uiowa-bar-light #ui-search #edit-submit-search:hover, .uiowa-bar-light #ui-search #edit-submit-search:focus, .uiowa-bar-light #ui-search #edit-submit-search:active {
  background-color: #fee000;
  color: #212121;
  border-color: #cbb300;
}

/* ========================================================================== */
/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================== */
/* line 14, ../sass/uiowa-bar-light.scss */
.uiowa-bar-light #ui-wrapper {
  background-color: #e1e1e1;
}

/* ========================================================================== */
/* =============================================================================
 *   UI Logo
 * ========================================================================== */
/* line 22, ../sass/uiowa-bar-light.scss */
.uiowa-bar-light #ui-logo a {
  color: #333333;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
/* line 31, ../sass/uiowa-bar-light.scss */
.uiowa-bar-light #ui-search-toggle {
  color: #222222;
}
/* line 34, ../sass/uiowa-bar-light.scss */
.uiowa-bar-light #ui-search-toggle.is-active {
  background-color: #c8c8c8;
  -moz-box-shadow: 0px 0px 6px #bbbbbb inset;
  -webkit-box-shadow: 0px 0px 6px #bbbbbb inset;
  box-shadow: 0px 0px 6px #bbbbbb inset;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Bar
 * ========================================================================== */
/* ========================================================================== */
