.uiowa-bar--wrapper {
  background-color: #000;
  padding: 0.4rem 0;
}

.uiowa--bar--wordmark {
  display: block;
  width: 200px;
  fill: #FFCD00;
}

.uiowa-bar--navbar--links {
  list-style: none;
}

.uiowa-bar--navbar--links > li > a {
  color: #fff;
}

@media(min-width: 500px) {
  .uiowa-bar--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
