#uiowa-bar{ 
	background-color: black; 
	margin: 0 auto; 
	font-size: 11px;
	font-family: sans-serif;
	box-sizing: border-box;
	padding: 6px 10px 2px;
	display: flex; 
	justify-content: space-between; 
	width: 100%;
}
#uiowa-bar .container { 

}

#uiowa-bar .container:before,
#uiowa-bar .container:after { 
	content: none;
}

#uiowa-bar #wordmark-link{
	display: block;
}
#uiowa-bar svg {
	width: auto; 
	height: 27px; 
	fill: #FCD116;
}

#uiowa-bar #uiowa-search{
	margin-top: 3px;
}
#uiowa-bar #uiowa-search div,
#uiowa-bar #uiowa-search ul,
#uiowa-bar #uiowa-search li,
#uiowa-bar #uiowa-search form { 
	display: inline-block; 
}

#uiowa-bar #uiowa-search form .btn { 
	display: inline-block; 
	clear: none;
	width: inherit;
}

#uiowa-bar #uiowa-search .links{
	margin-right: 20px;
}

#uiowa-bar #uiowa-search .links a{
	color: #888888;
	font-size: 1.2em;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: 400;
	font-family: sans-serif;
}

#uiowa-bar #uiowa-search .form-group,
#uiowa-bar #uiowa-search .form-item,
#uiowa-bar #uiowa-search .search-form{
	margin-bottom: 0;
	margin-top: 0;
}
#uiowa-bar #uiowa-search label{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
#uiowa-bar #uiowa-search .form-control,
#uiowa-bar #uiowa-search #edit-search-terms { 
	border-radius: 0;
	height: inherit;
	padding: 4px;
	border-width: 0px;
	width: 120px;
	font-size: 1em;
	background-color: #E8E8E8; 
}

#uiowa-bar #uiowa-search #edit-search-terms::-webkit-input-placeholder,
#uiowa-bar #uiowa-search #edit-search-terms::-moz-placeholder,
#uiowa-bar #uiowa-search #edit-search-terms:-ms-input-placeholder,
#uiowa-bar #uiowa-search #edit-search-terms:-moz-placeholder{
	color: #888888;
}

#uiowa-bar #uiowa-search input#edit-submit-search { 
	border: none;
	margin-left: -3px;
	padding: 4px 10px;
	font-size: 1em;
	vertical-align: top;
	background-color:#888888;
	border-radius: 0;
	color:#E8E8E8;
}