/**
 * @file
 * UI Global Bar Stles
 */
/**
 * @file
 * Base File
 */
/**
 * @file
 * Custom Partial
 */
/* =============================================================================
 *   Variables
 * ========================================================================== */
/* ========================================================================== */
/* =============================================================================
 *   Mixins
 * ========================================================================== */
/* ========================================================================== */
/**
 * @file
 * Partial for search box abstractions
 */
/* =============================================================================
 *   Dark Version
 * ========================================================================== */
/* line 9, ../sass/_search_abstractions.scss */
.uiowa-bar-large-dark #ui-search {
  background-color: #545454;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3) inset;
  border: 1px solid #222;
  color: #333;
}
/* line 15, ../sass/_search_abstractions.scss */
.uiowa-bar-large-dark #ui-search .ui-glyph-icon-ui-search {
  color: #333;
}
/* line 20, ../sass/_search_abstractions.scss */
.uiowa-bar-large-dark #ui-search #edit-search-terms {
  color: #fff;
}
/* line 54, ../sass/_custom.scss */
.uiowa-bar-large-dark #ui-search #edit-search-terms.placeholder {
  color: #c8c8c8;
}
/* line 55, ../sass/_custom.scss */
.uiowa-bar-large-dark #ui-search #edit-search-terms:-moz-placeholder {
  color: #c8c8c8;
}
/* line 56, ../sass/_custom.scss */
.uiowa-bar-large-dark #ui-search #edit-search-terms::-moz-placeholder {
  color: #c8c8c8;
}
/* line 57, ../sass/_custom.scss */
.uiowa-bar-large-dark #ui-search #edit-search-terms::-webkit-input-placeholder {
  color: #c8c8c8;
}
/* line 29, ../sass/_search_abstractions.scss */
.uiowa-bar-large-dark #ui-search #edit-submit-search {
  background-color: #212121;
  border: 1px solid #1c1c1c;
  color: #999;
}
/* line 34, ../sass/_search_abstractions.scss */
.uiowa-bar-large-dark #ui-search #edit-submit-search:hover, .uiowa-bar-large-dark #ui-search #edit-submit-search:focus, .uiowa-bar-large-dark #ui-search #edit-submit-search:active {
  background-color: #fee000;
  color: #212121;
  border-color: #cbb300;
}

/* =============================================================================
 *   Light Version
 * ========================================================================== */
/* ========================================================================== */
/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================== */
/* line 11, ../sass/uiowa-bar-large-dark.scss */
.uiowa-bar-large-dark #ui-wrapper {
  background-color: #000;
}

/* ========================================================================== */
/* =============================================================================
 *   UI Logo
 * ========================================================================== */
/* line 21, ../sass/uiowa-bar-large-dark.scss */
.uiowa-bar-large-dark #ui-logo a {
  color: #fee000;
}
@media (min-width: 825px) {
  /* line 21, ../sass/uiowa-bar-large-dark.scss */
  .uiowa-bar-large-dark #ui-logo a {
    font-size: 52px;
    font-size: 5.2rem;
  }
}

/* ========================================================================== */
/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
/* line 35, ../sass/uiowa-bar-large-dark.scss */
.uiowa-bar-large-dark #ui-search-toggle {
  background-color: #222;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6) inset;
  color: #ccc;
}
/* line 40, ../sass/uiowa-bar-large-dark.scss */
.uiowa-bar-large-dark #ui-search-toggle.is-inactive {
  background-color: transparent;
  -webkit-box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.05);
  -moz-box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.05);
  box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.05);
  border-left: 1px solid #111;
}

/* ========================================================================== */
/* =============================================================================
 *   Search Bar
 * ========================================================================== */
