/**
 * @file
 * Custom Partial
 */

/* =============================================================================
 *   Variables
 * ========================================================================== */
  // Font Stacks
  $serif-large: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
  $sans-serif-arial-helvetica:  Arial, Helvetica, sans-serif;

  // Gutters
  $uiowa-bar-gutter: 8px;

  // Color  Vars
  $ui-gold: #f6c72f;

  $bp-mobile: 500px;
  $bp-search-toggle-is-visible: max-width 500px;
  $bp-search-toggle-is-hidden: 501px;
/* ========================================================================== */



/* =============================================================================
 *   Mixins
 * ========================================================================== */
  @mixin ir {
    // Kellum Method
    display: block !important;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    // Additional helpers
    border: 0;                     // Remove the default border from elements like <button>
    text-shadow: none;             // Remove any text shadows
    color: transparent;            // Hide any residual text in Safari 4 and any mobile devices that may need it
    background-color: transparent; // Hide the default background color on elements like <button>
  }

  @mixin cf {
    overflow: hidden;   // New formatting context in better browsers
    *overflow: visible; // Protect IE7 and older from the overflow property
    *zoom: 1;           // Give IE hasLayout, a new formatting context equivalent
  }

  @mixin font-size($sizeValue: 1.6) {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
  }

  @mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
  }
/* ========================================================================== */
