/**
 * @file
 * Resets
 */

#ui-wrapper {
  @include font-size(1.4);
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility\9;

  * {
    @include box-sizing(border-box);
  }
}
