/**
 * @file
 * Partial for search box abstractions
 */

/* =============================================================================
 *   Dark Version
 * ========================================================================== */
%search-bar-dark {
  background-color: #545454;
  @include box-shadow(1px 1px 3px rgba(0,0,0,.3) inset);
  border: 1px solid #222;
  color: #333;

  .ui-glyph-icon-ui-search {
    color: #333;
  }

  // Search Text Input
  #edit-search-terms {
    color: #fff;

    @include placeholder {
      color: #c8c8c8;
    }
  }

  // Submit button
  #edit-submit-search {
    background-color: #212121;
    border: 1px solid #1c1c1c;
    color: #999;

    &:hover, &:focus, &:active {
      background-color: $ui-gold;
      color: #212121;
      border-color: darken($ui-gold, 10%);
    }
  }
}

/* =============================================================================
 *   Light Version
 * ========================================================================== */
  %search-bar-light {
    background-color: #eeeeee;
    @include box-shadow(1px 1px 3px rgba(0,0,0,.1) inset);
    border: 1px solid #bbb;

    .ui-glyph-icon-ui-search {
      color: #999;
    }

    // Search Text Input
    #edit-search-terms {
      color: #444;

      @include placeholder {
        color: #666;
      }
    }

    // Submit button
    #edit-submit-search {
      background-color: #eeeeee;
      border: 1px solid #d1d1d1;
      color: #666;

      &:hover, &:focus, &:active {
        background-color: $ui-gold;
        color: #212121;
        border-color: darken($ui-gold, 10%);
      }
    }
  }
/* ========================================================================== */
