/**
 * @file
 * UI Global Bar Stles
 */
@import 'compass/support';                     // Add Compass' IE and vendor prefix support variables.
@import 'compass/utilities/general/clearfix';  // Better than Drupal's clearfix.
@import 'compass/utilities/sprites';           // See http://compass-style.org/help/tutorials/spriting/
@import 'compass/css3';                        // Use one CSS3 mixin instead of multiple vendor prefixes.
@import 'compass/typography';
@import "ui-header/uigb-light/*.png";
@import "ui-header/uigb-dark/*.png";

$serif-large: Georgia, Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', 'Times New Roman', serif;
$sans-serif-arial-helvetica:  Arial, Helvetica, sans-serif;

@mixin iconReplaceUigb {
	position: absolute;
	content: "";
	display: block;
	top: 5px;
	left: 4px;

	.skin-b & {
		top: 3px; // fixes position due to fuax drop shadow on icon
	}
}

#ui-wrapper * {
	@include box-sizing(border-box);
}

$experimental-support-for-svg: true; // set svg support for IE9


a.uiowa-icon {
  &.phonebook:before {
    @include iconReplaceUigb;
    @include uigb-light-sprite(phonebook, $dimensions: true);
    .skin-b & { @include uigb-dark-sprite(phonebook, $dimensions: true); }
  }
  &.maps:before {
    @include iconReplaceUigb;
    @include uigb-light-sprite(maps, $dimensions: true);
    .skin-b & { @include uigb-dark-sprite(maps, $dimensions: true); }
  }
  &.a-z:before {
    @include iconReplaceUigb;
	@include uigb-light-sprite(a-z, $dimensions: true);
    .skin-b & { @include uigb-dark-sprite(a-z, $dimensions: true); }
  }
  &.search:before {
    @include iconReplaceUigb;
    @include uigb-light-sprite(search, $dimensions: true);
    .skin-b & { @include uigb-dark-sprite(search, $dimensions: true); }
  }
}

#ui-wrapper {
	@include background-with-css2-fallback(linear-gradient(top, #F7F7F7, #D6D6D6), #F7F7F7);
	border-top: 3px solid #2D2D2D;
	@include box-shadow(0px 2px 6px rgba(0, 0, 0, .4));
	position: relative;
	z-index: 1;
	height: 40px;
	font-family: $sans-serif-arial-helvetica;
	font-size: 13px;

	.skin-b & {
		background: #3B3B3C;
	}

	.container {
		@include legacy-pie-clearfix;
		position: relative;
	}

	a {
		color: #000;
		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	#ui-logo {
		position: absolute;
		top: -3px;
		left: 5px;

		border-top: 3px solid #FFCD05;
		@include hide-text;
		height: 37px;
		width: 175px;
		@include uigb-light-sprite(ui-logo, $offset-y: 10px);

		a { display: block; height: 100%;}

		.skin-b & {
			@include uigb-dark-sprite(ui-logo, $offset-y: 10px);
		}
	}

	#ui-global-bar-nav {
		float: right;
		width: 100%;
	}

	#ui-global-nav-sm a {
		float: right;
		width: 40px;
		height: 40px;
		background: url('../nav.png');
		overflow: hidden;
		text-indent: 9999px;
	}

	#ui-global-links {

		.uiowa-icon-style & {
			float: right;
		}
		.uiowa-text-style & {
			clear: both;
			float: left;
			background-color: #D6D6D6;
			width: 100%;
			padding: 4px 0 0 0;
		}

		ul {
			margin: 4px 0 0;
			@include legacy-pie-clearfix;

		}

		li {
			display: block;
			float: left;
			margin: 0 5px 0 0;
			padding: 0 0 2px 0; // provide extra space for drop shadow, excluded from overflow hidden declaration
			.uiowa-icon-style & {
			  @include hide-text;
			}
			.uiowa-text-style & {
				border-left: 2px solid #000;
				margin: 0;
				padding: 0 7px;
				line-height: .9em;
				&:first-child {
					border-left-style: none;
				}
			}

		}

		a {
			&.uiowa-icon {
	      position: relative;
				height: 20px;
				width: 20px;
				@include background-with-css2-fallback(linear-gradient(top, #F7F7F7, #D6D6D6), #D6D6D6);
				display: block;
				padding: 13px;
				//@include hide-text;
				@include border-radius(50%);
				@include box-shadow(rgba(0,0,0,.3) 0px 2px 1px 0px);
				border: 1px solid #eee;
				&:focus, &:hover {
					@include background-with-css2-fallback(linear-gradient(top, #D6D6D6, #F7F7F7), #F7F7F7);
					@include box-shadow(rgba(0,0,0,.3) 0px 0px 0px 0px);
				}
			}

			.link-style-text & {
  				padding: 13px;
			}

			.skin-b & {
				@include background-with-css2-fallback(linear-gradient(top, #262626, #0D0D0D), #262626);
				border: 1px solid #333;
				&:focus, &:hover {
					@include background-with-css2-fallback(linear-gradient(top, #bfbfbf, #3f3f3f), #131313);
					//@include box-shadow(rgba(0,0,0,.3) 0px 0px 0px 0px);
				}
			}
		}
	}

	.icon-style-icons #ui-global-links {
	   ul, li { line-height: 0; }
	 }

	#gsa-search {
		.form-item,.form-item-sitesearch label, .form-submit {
			margin: 0;
			float: left;
		}
		background-color: #D6D6D6;
		width: 100%;
		float: left;
		clear: both;
		.uiowa-icon-style & {
			padding: 3px 10px;
			margin: 6px 0 0 0;
		}
		.uiowa-text-style & {
			padding: 0 10px;
		}
		fieldset {
			background: none;
			border: none;
			position: inherit;
			padding: 0;

			.fieldset-wrapper {
		    padding: 0;
		    margin: 0;
			}
		}
		#sitesearch-container {
			float: left;
		}
		#edit-search-terms {
			@include border-radius(6px);
			padding: 5px;
			background-color: #333;
			border: 1px solid #ccc;
			color: #ebebeb;
			margin-right: 10px;

			.skin-b & {
				background-color: #BABABA;
				color: #414042;
				border-color: #8A8B8A;
			}
		}

		#site-search-label, .form-item-sitesearch label {
			@include text-shadow(rgba(255,255,255,.45) 0px 1px 0px);
			color: #414042;
			font-family: $serif-large;
			font-size: .8em;
			font-style: italic;
			font-weight: bold;
			margin: 6px 8px 0 0;

			.skin-b & {
				color: #DCDDDE;
				@include text-shadow(rgba(0,0,0,.6) 0px -1px 0px);
			}
		}


		#uniform-edit-sitesearch {
			@include background-with-css2-fallback(linear-gradient(top, #F7F7F7, #D6D6D6), #D6D6D6);
			@include box-shadow(rgba(0,0,0,.3) 0px 2px 2px 0px);
			@include border-radius(3px);
			border: 1px solid #eee;
			margin: 0px 10px 0 0;
			position: relative;
			float: left;

			.skin-b & {
				@include background-with-css2-fallback(linear-gradient(top, #262626, #0D0D0D), #262626);
				border: 1px solid #333;
			}

			&:after {
				position: absolute;
				right: 5px;
				top: 8px;
				display: block;
				@include uigb-light-sprite(arrow-down, $dimensions: true);
				content: "";

				.skin-b & {
					@include uigb-dark-sprite(arrow-down, $dimensions: true);
				}
			}

			span {
				font-weight: bold;
				font-size: .8em;
				color: #414042;
				line-height: normal;
				@include text-shadow(rgba(255,255,255,.45) 0px 1px 0px);
				padding: 4px 20px 4px 10px;

				.skin-b & {
					color: #DCDDDE;
					@include text-shadow(rgba(0,0,0,.6) 0px -1px 0px);
				}
			}

			#edit-sitesearch {
				@include appearance(none);
				background-color: transparent !important;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding: 0;
				border: 0;
				cursor: pointer;
			}
		}

		#edit-submit-search {
			@include appearance(none);
			border: 1px solid #FFCD05;

			@include background-with-css2-fallback(linear-gradient(top, #FFCD05, #D3AB2A), #FFCD05);
			@include box-shadow(rgba(0,0,0,.3) 0px 2px 2px 0px);
			@include border-radius(3px);
			padding: 4px 10px;

			font-family: $sans-serif-arial-helvetica;
			font-weight: bold;
			font-size: .8em;
			color: #414042;
			line-height: normal;
			@include text-shadow(rgba(255,255,255,.45) 0px 1px 0px);
			margin-right: 5px;
		}
	}
}

@media only screen and (min-width: 700px) {
  #ui-wrapper {
		#ui-global-links {
			float: left;
		}
    #gsa-search {
			float: right;
			clear: none;
			margin: 0;
			width: inherit;
			padding: 0;
		}
  }
}

//Styles that might only be for .uiowa-icon-style
@media only screen and (min-width: 700px) {
	.uiowa-icon-style {
		#ui-wrapper {
			#ui-global-bar-nav {
				float: right;
				width: inherit;
			}
			#ui-global-links {
				float: left;
			}
			#gsa-search {
				float: left;
				background-color: transparent;
				fieldset {
					margin: 5px 0 0 -20px;
				}
				#edit-search-terms {
					width: 200px;
					padding: 5px 5px 5px 20px;
				}
			}
		}
	}
}

//Styles that might only be for .uiowa-text-style
@media only screen and (min-width: 820px) {
	.uiowa-text-style {
		#ui-wrapper {
			#ui-global-bar-nav {
				float: right;
				width: inherit;
			}
			#ui-global-links {
				background-color: transparent;
				width: inherit;
				padding: 10px 0;
			}
			#gsa-search {
				background-color: transparent;
				fieldset {
					margin: 5px 0 0 0;
				}
				#edit-search-terms {
					width: 200px;
					padding: 5px;
				}
			}
		}
	}
}
