/**
 * @file
 * UI Global Bar Structure
 */

 /* =============================================================================
  *   Imports
  * ========================================================================== */
  @import "base";
  @import "reset";
  @import "animate";
 /* ========================================================================== */


/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================= */
  #ui-wrapper {
    height: 40px;
    font-size: 14px;

    .container {
      @include cf;
      position: relative;
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
  #ui-search-toggle {
    display: none;  // hide by default
  }
/* ========================================================================== */


/* =============================================================================
 *   UI Logo
 * ========================================================================== */
  #ui-logo a {
    position: absolute;
    margin-top: 12px;
    padding-bottom: 6px;
    @include ir;
    width: 190px;
  }
/* ========================================================================== */


/* =============================================================================
 *   Search Bar
 * ========================================================================== */
  // Set visiblity for search box
  #ui-search.search-hidden { display: none; }
  #ui-search.search-exposed { display: block; }

  #ui-search {
    position: relative;
    @include border-radius(4px);
    padding: 0;
    margin: 5px $uiowa-bar-gutter 0 0;
    width: 100%;
    max-width: 300px;
    float: right;

    // Label
    .form-item-search-terms {
      display: inline-block;
      margin: 0;
      width: 100%;
      padding-right: 70px;
      padding-left: 30px;
      line-height: 0;

      label {
        font-size: 0;
        display: inline-block;

        &:before {
          content: '🔍'; /* '\1f50d' */
          font-family: 'fontello';
          font-style: normal;
          font-weight: normal;
          speak: none;
          display: inline-block;
          text-decoration: inherit;
          text-align: center;
          font-size: 22px;
          line-height: 23px;
          position: absolute;
          top: 2px;
          left: 5px;
        }
      }
    }

    // Search Text Input
    #edit-search-terms {
      background-color: transparent;
      border: none;
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 2px 2px 1px 2px;
    }

    #edit-submit-search {
      position: absolute;
      top: 3px;
      right: 2px;
      background-image: none;
      margin: 0;
      @include border-radius(4px);
      padding: 1px 8px;
      line-height: normal;
      height: 22px;
      width: 65px;
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   UI Global Footer
 * ========================================================================== */
  #ui-global-footer {
    background-color: #111111;
    color: #999;
    padding: 20px $uiowa-bar-gutter;
    font-size: 14px;
    border-top: 1px solid #000;
    @include box-shadow(0px 1px 0px rgba(255,255,255,.05) inset);

    a {
      color: #999;
    }
  }

  #ui-footer-logo a {
    @include ir;
    @include sprites-sprite(ui-wm-dome-footer, $dimensions: true);
  }

  #ui-global-links .item-list {

    ul {
      margin-top: 10px;
    }

    li {
      list-style-type: none;
      margin: 0;
      display: block;
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   Small Media Query
 * ========================================================================== */
  @media only screen and (max-width:500px) {
    #ui-wrapper {
      height: auto;
    }

    #ui-logo {
      a {
        position: relative;
        display: inline-block;
        width: 100%;
      }
    }

    #ui-search-toggle {
      display: block;
      font-size: 0;
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: 40px;

      &:before {
        content: '🔍'; /* '\1f50d' */
        font-family: 'fontello';
        font-style: normal;
        font-weight: normal;
        speak: none;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        font-size: 22px;
        line-height: 23px;
        position: absolute;
        padding-top: 5px;
        padding-left: 5px;
        top: 3px;
        left: 5px;
      }
    }

    #ui-search {
      max-width: 100%;
      margin: 10px $uiowa-bar-gutter;
      float: none;
      width: auto;
    }

  } // END MEDIA QUERY
/* ========================================================================== */


/* =============================================================================
 *   Large Media Query
 * ========================================================================== */
  @media only screen and (min-width:501px) {
    #ui-logo {
      margin-top: -2px; // hides the border set on mobile display
    }

    #ui-search.search-hidden {
      display: block; // forces visibility when hidden for mobile display
    }

    /* FOOTER ----------------------------------------------------------------*/
    #ui-global-links .item-list {
      @include cf;

      li {
        display: block;
        float: left;
        margin-right: 10px;


        &:after {
          content: "/";
          padding-left: 10px;
        }
      }
    }

  } // END MEDIA QUERY
/* ========================================================================== */

