/**
 * @file
 * UI Global Bar Structure
 */

 /* =============================================================================
  *   Imports
  * ========================================================================== */
  @import "base";
  @import "reset";
  @import "animate";
 /* ========================================================================== */

// Make room for IPE if present
.panels-ipe .region-page-bottom {
  padding-bottom: 55px;
}

/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================= */
  #ui-wrapper {
    position: relative;
    z-index: 1;
    @include box-shadow(0px 3px 8px rgba(0,0,0,.4));

    .l-container {
      @include cf;
      position: relative;
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   UI Logo
 * ========================================================================== */
  #ui-logo {
    padding: 2px 0;

    @include breakpoint($bp-search-toggle-is-hidden) {
      float: left;
    }

    a {
      @include font-size(2.5);
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
  #ui-search-toggle {
    display: none;  // hide by default

    @include font-size(2);
    position: absolute;
    top: 0;
    right: 0;
    padding: 11px 9px;
    line-height: 0;

    @include breakpoint($bp-search-toggle-is-visible) {
      display: block;
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   Search Bar
 * ========================================================================== */
  // Set visiblity for search box
  #ui-search.is-hidden {
    display: none;

    @include breakpoint($bp-search-toggle-is-hidden) {
      display: block; // always show as a block on larger screens
    }
  }

  #ui-search.is-visible {
    display: block;
  }

  #ui-search {
    line-height: 0;
    overflow: hidden;

    @include breakpoint($bp-search-toggle-is-visible) {
      padding: 5px;
    }

    @include breakpoint($bp-search-toggle-is-hidden) {
      @include border-radius(3px);
      min-width: 280px;
      position: absolute;
      bottom: 7px;
      right: 2px;
    }

    // Form elements
    form.search-google-appliance-search-form {
      margin-bottom: 0; // override gsa module css

      position: relative;
    }

    .ui-glyph-icon-ui-search {
      @include font-size(1.5);
      position: absolute;
      left: 2px;
      top: 4px;
    }

    // Search txt input container
    .form-item-search-terms {
      margin: 0;
      line-height: 0;
      padding-left: 25px;
      padding-right: 64px;

      label {
        @include hide-text;
        background: #fff;
        color: #000;
      }
    }

    // Search Text Input
    #edit-search-terms {
      background-color: transparent;
      border: none;
      width: 100%;
      margin: 0;
      padding: 4px;
    }

    // Search Button
    #edit-submit-search {
      position: absolute;
      right: 0;
      top: 0;
      background-image: none;
      margin: 0;
      padding: 3px 8px;
      font-weight: normal;
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   UI Global Footer
 * ========================================================================== */
  #ui-global-footer {
    @include font-size(1.4);
    @include box-shadow(0px 1px 0px rgba(255,255,255,.05) inset);
    background-color: #111111;
    color: #999;
    padding: 20px $uiowa-bar-gutter;
    border-top: 1px solid #000;

    a {
      color: #999;
      border-bottom: none;
    }
  }

  #ui-footer-logo a {
    @include font-size(2.7);
    color: $ui-gold;
  }

  #ui-global-links .item-list {

    ul {
      margin-top: 10px;
    }

    li {
      list-style-type: none;
      margin: 0;
      display: block;
    }
  }
/* ========================================================================== */

