/**
 * @file
 * UI Global Bar Stles
 */
@import "base";
$use_large_logo: 825px;

/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================== */
  .uiowa-bar-large-dark #ui-wrapper {
    background-color: #000;
  }
/* ========================================================================== */


/* =============================================================================
 *   UI Logo
 * ========================================================================== */
  .uiowa-bar-large-dark #ui-logo {
    a {
      color: $ui-gold;

      @include breakpoint($use_large_logo) {
        @include font-size(5.2);
      }
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
  .uiowa-bar-large-dark #ui-search-toggle {
    background-color: #222;
    @include box-shadow(0px 0px 6px rgba(0,0,0,.6) inset);
    color: #ccc;

    &.is-inactive {
      background-color: transparent;
      @include box-shadow(-1px 0px 0px rgba(255,255,255,.05));
      border-left: 1px solid #111;
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   Search Bar
 * ========================================================================== */
.uiowa-bar-large-dark #ui-search {
  @extend %search-bar-dark;
}
