/**
 * @file
 * UI Global Bar Stles
 */
@import "base";


/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================== */
  .uiowa-bar-dark #ui-wrapper {
    background-color: #f3f0f0;
    @include background-image(linear-gradient(#f3f0f0, #d0d0d0));
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ccc;
    @include box-shadow(0px -1px 0px #999 inset);


  }
/* ========================================================================== */


/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
  .uiowa-bar-dark #ui-search-toggle {
    background-color: #ddd;
    @include box-shadow(0px 0px 6px rgba(0,0,0,.3) inset);

    &:before {
      color: #222;
      @include text-shadow(0px 1px 0px rgba(255,255,255,.8));
    }

    &.inactive {
      background-color: transparent;
      @include box-shadow(-1px 0px 0px rgba(255,255,255,.8));
      border-left: 1px solid #c1c1c1;
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   UI Logo
 * ========================================================================== */
  .uiowa-bar-dark #ui-logo {
    border-bottom: 1px solid #ccc;
    @include box-shadow(0px 1px 0px rgba(255,255,255,.8));

    a {
      @include sprites-sprite(ui-wm-light, $offset-x: $uiowa-bar-gutter);
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   Search Bar
 * ========================================================================== */
  .uiowa-bar-dark #ui-search {
    background-color: #eee;
    border: 1px solid #bbb;
    @include box-shadow(0px 0px 3px rgba(0,0,0,.1) inset);

    // Label
    .form-item-search-terms label:before {
      color: #777;
      @include text-shadow(0px 1px 0px rgba(255,255,255,.6));
    }

    // Search Text Input
    #edit-search-terms {
      color: #444;
    }

    #edit-submit-search {
      background-color: #eee;
      border: 1px solid #bbb;
      color: #666;
      @include box-shadow(0px -12px 2px rgba(0,0,0,.1) inset);
      @include text-shadow(0px 1px 0px rgba(255,255,255,.6));

      &:hover, &:focus, &:active {
        background-color: lighten($ui-gold, 15%);
        @include box-shadow(0px -12px 2px $ui-gold inset);
        color: #222;
        @include text-shadow(0px 1px 0px rgba(255,255,255,.3));
      }
    }
  }
/* ========================================================================== */
