/**
 * @file
 * UI Global Bar Stles
 */
@import "base";


$bar-color: #edb80f;
$ui-wordmark-color: #000;
$toggle-color: #333;

/* =============================================================================
 *   UI Wrapper and Container
 * ========================================================================== */
  .uiowa-bar-gold #ui-wrapper {
    background-color: $bar-color;
  }
/* ========================================================================== */

/* =============================================================================
 *   UI Logo
 * ========================================================================== */
  .uiowa-bar-gold #ui-logo a {
    color: $ui-wordmark-color;
  }
/* ========================================================================== */


/* =============================================================================
 *   Search Toggle
 * ========================================================================== */
  .uiowa-bar-gold #ui-search-toggle {
    color: $toggle-color;

    &.is-active {
      background-color: darken($bar-color, 10%);
      @include box-shadow(0px 0px 6px darken($bar-color, 15%) inset);
    }
  }
/* ========================================================================== */


/* =============================================================================
 *   Search Bar
 * ========================================================================== */
.uiowa-bar-gold #ui-search {
  @extend %search-bar-dark;
}
