<div id="ui-wrapper">
    <div id="uiowa-bar" role="region" aria-label="University of Iowa global header">
    {% if config.wordmark == 'uiowa'  %}
        {% include 'parts/uiowa-wordmark.html.twig' %}
    {% elseif config.wordmark == 'uihc'  %}
        {% include 'parts/uihc-wordmark.html.twig' %}
    {% endif %}
        <div id="uiowa-search">
            <ul class="links">
                <li><a href="https://uiowa.edu">Sample Link</a></li>
            </ul>
            {{ search_form }}
        </div>
    </div>
</div>