
.ui-glyph-icon-dome:before { content: '\e801'; } /* '' */
.ui-glyph-icon-ui-search:before { content: '\e800'; } /* '' */
.ui-glyph-icon-domewordleft:before { content: '\e803'; } /* '' */
.ui-glyph-icon-domewordunit:before { content: '\e804'; } /* '' */
.ui-glyph-icon-domewordsingle:before { content: '\e805'; } /* '' */
.ui-glyph-icon-word:before { content: '\e806'; } /* '' */
.ui-glyph-icon-domewordctr:before { content: '\e802'; } /* '' */
.ui-glyph-icon-wordstackctralt:before { content: '\e808'; } /* '' */
.ui-glyph-icon-wordstackfl:before { content: '\e809'; } /* '' */
.ui-glyph-icon-wordstackleft:before { content: '\e80a'; } /* '' */
.ui-glyph-icon-wordstackright:before { content: '\e80b'; } /* '' */
.ui-glyph-icon-wordstackctr:before { content: '\e807'; } /* '' */