@font-face {
  font-family: 'ui-bar-glyphs';
  src: url('../font/ui-bar-glyphs.eot?307853');
  src: url('../font/ui-bar-glyphs.eot?307853#iefix') format('embedded-opentype'),
       url('../font/ui-bar-glyphs.woff?307853') format('woff'),
       url('../font/ui-bar-glyphs.ttf?307853') format('truetype'),
       url('../font/ui-bar-glyphs.svg?307853#ui-bar-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ui-bar-glyphs';
    src: url('../font/ui-bar-glyphs.svg?307853#ui-bar-glyphs') format('svg');
  }
}
*/
 
 [class^="ui-glyph-icon-"]:before, [class*=" ui-glyph-icon-"]:before {
  font-family: "ui-bar-glyphs";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.ui-glyph-icon-dome:before { content: '\e800'; } /* '' */
.ui-glyph-icon-zoom-out:before { content: '\e80d'; } /* '' */
.ui-glyph-icon-domewordleft:before { content: '\e802'; } /* '' */
.ui-glyph-icon-domewordsingle:before { content: '\e80b'; } /* '' */
.ui-glyph-icon-domewordunit:before { content: '\e804'; } /* '' */
.ui-glyph-icon-word:before { content: '\e805'; } /* '' */
.ui-glyph-icon-wordstackctr:before { content: '\e806'; } /* '' */
.ui-glyph-icon-wordstackctralt:before { content: '\e807'; } /* '' */
.ui-glyph-icon-domewordctr:before { content: '\e801'; } /* '' */
.ui-glyph-icon-wordstackleft:before { content: '\e809'; } /* '' */
.ui-glyph-icon-wordstackright:before { content: '\e80a'; } /* '' */
.ui-glyph-icon-osl-logo:before { content: '\e80e'; } /* '' */
.ui-glyph-icon-osl-wordmark:before { content: '\e80f'; } /* '' */
.ui-glyph-icon-ui-search:before { content: '\e80c'; } /* '' */
.ui-glyph-icon-zoom-in:before { content: '\e803'; } /* '' */
.ui-glyph-icon-wordstackfl:before { content: '\e808'; } /* '' */